# This script is intended to be run alongside the 
# edx-platfrom application in the same virtual environment.
# The requirements below are already installed as part of edx-platform.
# Uncomment these requirements, if the script is to be
# run in a different environment.

# boto3==1.4.8
# docopt==0.6.2
# edx-ccx-keys==1.2.0
# edx-opaque-keys==2.2.1
# path.py==12.5.0
# pbr==5.5.1
# pymongo==3.10.1
# python-dateutil==2.4.0
# pyyaml==5.4.1
# psutil==5.8.0

# # Tests
# coverage==5.5
# mock==4.0.3
# pytest==6.2.3
# pytest-cov==2.11.1



## Requirements not part of edx-platform
graphitesend==0.10.0
python-gnupg==0.3.6